@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* style.css */

.back-bg{
    background-color: #f3eae3;
    padding: 2rem 0;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card h3{
    font-size: .8rem;
    text-transform: uppercase;
    color: rgb(177, 177, 177);
}
.card h2{
    font-size: 1.4rem;
    line-height: 1.4em;
    font-weight: 600;
    margin-bottom: .5rem;
    color : #000;
}
.card p{
    line-height: 1.4em;
    font-size: .9rem;
}


.area1{background-color: #b5b2f1;border-top-left-radius: 14px !important;border-top-right-radius: 14px !important;padding-top: 83px !important}
.image{top: -62px;position: relative}
.image img{box-shadow: 5px 6px 6px 2px #e9ecef}
.area2{background-color:#fff;border-bottom-left-radius: 14px !important;border-bottom-right-radius: 14px !important}
.name{font-size:25px;font-weight:650}
.information{color:#9FA8DA;font-weight:500;font-size:16px}
.list-icons{display: inline-flex;color:#C5CAE9}
.list-icons li{list-style: none;padding: 12px;border-radius: 10px;width: 49px;margin-right: 10px}
.list-icons li i{font-size: 17px;color: #fff}@media (max-width:700px){.list-icons{display: block}}
.facebook{background: #3b5998}
.instagram{background: #3f729b}
.youtube{background: #ff0000}
.whatsapp{background: #4dc247}
.pinterest{background: #cb2027}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}